<!--
  Generated template for the AddpharmacyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title >Pharmacy Details</ion-title>
    <ion-buttons end>
      <img src="assets/img/cat.png" alt="cat image" width="30">
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <div #map id="map" style="height:100%;"></div>

  <form
    novalidate
    [formGroup]="AddPharmacyForm"
    (ngSubmit)="submitForm()"
  >
    <div class="form-group" margin-bottom>
    <button  (click)="getLocation()" block ion-button type="button" ><ion-icon name="pin" margin-right></ion-icon> Locate

    </button>
    </div>

    <div class="form-group">

      <div class="form-ctrl-icon">
        <img src="assets/icons/gonern-50.png" width="27" alt="">
        <!--<ion-icon name="ios-baseball-outline"></ion-icon>-->
      </div>

      <div class="input-ctrl">
        <input type="text"  placeholder="Governorate" class="form-control" formControlName="governorate" >
        <div class="validator">
          <ion-icon name="checkmark" [color]="AddPharmacyForm.controls.governorate.valid?'primary':'lightDark'"></ion-icon>
        </div>
      </div>

    </div>

    <div class="form-group">

      <div class="form-ctrl-icon">
        <img src="assets/icons/city.png" width="27" alt="">
        <!--<ion-icon name="ios-baseball-outline"></ion-icon>-->
      </div>

      <div class="input-ctrl">
        <input type="text" placeholder="City" class="form-control" formControlName="city" >
        <div class="validator">
          <ion-icon name="checkmark" [color]="AddPharmacyForm.controls.city.valid?'primary':'lightDark'"></ion-icon>
        </div>
      </div>

    </div>

    <div class="form-group">

      <div class="form-ctrl-icon">
        <img src="assets/icons/area-50.png" width="27" alt="">
        <!--<ion-icon name="ios-baseball-outline"></ion-icon>-->
      </div>

      <div class="input-ctrl">
        <input type="text"  placeholder="Area" class="form-control" formControlName="area" >
        <div class="validator">
          <ion-icon name="checkmark" [color]="AddPharmacyForm.controls.area.valid?'primary':'lightDark'"></ion-icon>
        </div>
      </div>

    </div>

    <div class="form-group">

      <div class="form-ctrl-icon">
        <img src="assets/icons/area-50.png" width="27" alt="">
        <!--<ion-icon name="ios-baseball-outline"></ion-icon>-->
      </div>

      <div class="input-ctrl">
        <input type="text"  placeholder="building number , street name" class="form-control" formControlName="address" >
        <div class="validator">
          <ion-icon name="checkmark" [color]="AddPharmacyForm.controls.address.valid?'primary':'lightDark'"></ion-icon>
        </div>
      </div>

    </div>

    <div class="form-group">

      <div class="form-ctrl-icon">
        <img src="assets/icons/Landmark.png" width="27" alt="">
        <!--<ion-icon name="ios-baseball-outline"></ion-icon>-->
      </div>

      <div class="input-ctrl">
        <input type="text"  placeholder="Landmark" class="form-control" formControlName="landmark" >
        <div class="validator">
          <ion-icon name="checkmark" [color]="AddPharmacyForm.controls.landmark.valid?'primary':'lightDark'"></ion-icon>
        </div>
      </div>

    </div>

    <div class="form-group">

      <div class="form-ctrl-icon">
        <img src="assets/icons/pharmacy-50.png" width="27" alt="">
        <!--<ion-icon name="ios-baseball-outline"></ion-icon>-->
      </div>

      <div class="input-ctrl">
        <input type="text"  placeholder="Pharmacy name" class="form-control" formControlName="name" >
        <div class="validator">
          <ion-icon name="checkmark" [color]="AddPharmacyForm.controls.name.valid?'primary':'lightDark'"></ion-icon>
        </div>
      </div>

    </div>

    <div class="form-group">

      <div class="form-ctrl-icon">
        <img src="assets/icons/phone.png" width="27" alt="">
        <!--<ion-icon name="ios-baseball-outline"></ion-icon>-->
      </div>

      <div class="call-num-alt">
          +{{AddPharmacyForm.controls.calling_code.value}}
        </div>

      <!--<ion-select class="mobile-select" formControlName="countrycall">
        <ion-option *ngFor="let code of AllCallingCodes" [value]="getcallCode?code.callingCode:code.name">+{{code.callingCode}}</ion-option>
    </ion-select>-->
      <div class="input-ctrl">
        <input type="text" placeholder="pharmacy number" class="form-control" formControlName="phone" >
        <div class="validator">
          <ion-icon name="checkmark" [color]="AddPharmacyForm.controls.phone.valid?'primary':'lightDark'"></ion-icon>
        </div>
      </div>

    </div>

    <div class="form-group">

      <div class="form-ctrl-icon">
        <img src="assets/icons/ATTATCHMENT.png" width="27" alt="">
        <!--<ion-icon name="ios-baseball-outline"></ion-icon>-->
      </div>

      <div class="input-ctrl">
        <input type="text" placeholder="pharmacy registration number" class="form-control" formControlName="registeration_number" >
        <div class="validator">
          <ion-icon name="checkmark" [color]="AddPharmacyForm.controls.registeration_number.valid?'primary':'lightDark'"></ion-icon>
        </div>
      </div>

    </div>


    <div class="form-group select-role">
      <div class="input-ctrl">
        <ion-select   class="form-control" formControlName="role" >
          <ion-option value="Pharmacy Owner"> Pharmacy Owner </ion-option>
          <ion-option value="Pharmacy Manager"> Pharmacy Manager</ion-option>
          <ion-option value="First Pharmacist"> First Pharmacist    </ion-option>
          <ion-option value="Second Pharmacist"> Second Pharmacist</ion-option>
          <ion-option value="Trainee"> Trainee </ion-option>
          <ion-option value="Assistant"> Assistant </ion-option>
        </ion-select>

      </div>
      <div class="form-ctrl-icon right">
        <ion-icon name="ios-arrow-down"></ion-icon>
      </div>


    </div>


    <div class="form-group">

      <div class="form-ctrl-icon">
        <img src="assets/icons/ATTATCHMENT.png" width="27" alt="">
        <!--<ion-icon name="ios-baseball-outline"></ion-icon>-->
      </div>

      <div class="input-ctrl">
        <input type="text"  placeholder="National Id Number" class="form-control" formControlName="personal_id" >
        <div class="validator">
          <ion-icon name="checkmark" [color]="AddPharmacyForm.controls.personal_id.valid?'primary':'lightDark'"></ion-icon>
        </div>
      </div>

    </div>




    <div class="form-group" [hidden]="AddPharmacyForm.controls.role.value == '5' || AddPharmacyForm.controls.role.value == '4'">

      <div class="form-ctrl-icon">
        <img src="assets/icons/ATTATCHMENT.png" width="27" alt="">
        <!--<ion-icon name="ios-baseball-outline"></ion-icon>-->
      </div>

      <div class="input-ctrl">
        <input type="text"  placeholder="syndicate number" class="form-control" formControlName="syndicate_id_number" >
        <div class="validator">
          <ion-icon name="checkmark" [color]="AddPharmacyForm.controls.syndicate_id_number.valid?'primary':'lightDark'"></ion-icon>
        </div>
      </div>

    </div>

    <div class="form-group">
      <button  type="submit" ion-button  block>
        Add
        <ion-spinner *ngIf="showLoader" name="crescent"></ion-spinner>
      </button>
    </div>

  </form>

</ion-content>
