<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cart</ion-title>
    <ion-buttons start>
      <!--<ion-icon name="search" color="light"></ion-icon>-->
      <img src="assets/img/cat.png" alt="cat image" width="30">

    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="getCartRequest($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <p text-center class="app-msg" *ngIf="noData">
    No Actions
  </p>
  <p text-center class="app-msg" *ngIf="showLoader">
    <ion-spinner color="primary" name="crescent"></ion-spinner>
  </p>

  <ion-list *ngIf="AllRequestTypes">

    <ion-item margin-bottom *ngFor="let request of AllRequestTypes" [color]="detectColor(request.type, request.status)"
              (click)="navigateTo('RecordDetailsPage', request)">
      <ion-avatar item-left>
        <img [src]="selectImg(request.type)">
      </ion-avatar>
      <h2 [innerHTML]="request.name + ' ' +request.concentration+' '+request.content+' '+ request.subunit"></h2>
      <button ion-button clear item-right>
        <ion-icon name="ios-arrow-forward" [color]="request.type == 'offerDelivery'?'light':'primary'"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>
