
page-home {
  ion-header {
    &.header {
      &:after {
        //background-position: 0 -4px;
        content: '';
        //background: none;
      }
      //box-shadow: none !important;
    }

    ion-buttons {
      display: flex;
      align-items: center;
      img {
        margin-right: 6px;
      }
      ion-icon {
        font-size: 35px;
        margin: 0 15px;
      }
    }
  }

  ion-content {
    &.content {
      background: $appBG
    }
    ion-card {
      h2 {
        padding: 5px 12px;
        font-weight: bold !important;
        color: #666 !important;
      }
      ion-icon {
        &.loc {
          font-size: 22px;
          margin-right: 3px;
        }

      }
      ion-grid {
        img {
          display: inline !important;
          width: 20px !important;
          margin-right: 5px;
          &.icon-smaller {

            width: 16px !important;

          }
        }
      }


      .card-options {
        width: 100%;
        height: 75px;
        background-color: $primary;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 50px !important;
        }
      }
      &.card-md {
        margin :2px auto  10px !important;
        box-shadow: none;
        border-bottom: 1px solid #eee;
        border-top: 1px solid #eee;
      }

      .req-value {
        font-weight: bolder;
        color: #777;

        font-size: 1.6rem;
      }
      ion-col {
        display: flex;
        align-items: center;

      }
    }
  }
}
