page-home {
  ion-header {
    &.header {
      &:after {
        //background-position: 0 -4px;
        content: '';
        //background: none;
      }
      //box-shadow: none !important;
    }

    ion-buttons {
      display: flex;
      align-items: center;
      img {
        margin-right: 6px;
      }
      ion-icon {
        font-size: 35px;
        margin: 0 15px;
      }
    }
  }

  ion-content {
    ion-card {
      &.card-md {
        width: 100%;
        margin :2px auto !important;
      }

      .req-value {
        font-weight: bolder;
        color: #555
      }
    }
  }
}
