<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons start>
      <!--<ion-icon name="search" color="light"></ion-icon>-->
      <img src="assets/img/cat.png" alt="cat image" width="30">

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <!--<h3>Ionic Menu Starter</h3>-->

  <!--<p>-->
    <!--If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.-->
  <!--</p>-->

  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->

    <p text-center class="app-msg" *ngIf="showLoader">
      <ion-spinner color="primary" name="crescent"></ion-spinner>
    </p>
    <ion-card (click)="showRequestOptions(offer)" *ngFor="let offer of AllOffers">

          <h2 [innerHTML]="offer.name + ' ' +offer.concentration+' '+offer.content+' '+ offer.subunit"></h2>

        <ion-grid>
          <ion-row>
            <ion-col hidden>
              <!--<img src="assets/icons/map-copy-2.png" class="icon-smaller " width="15" alt="">-->
              <ion-icon class="loc" name="ios-pin-outline" color="primary"></ion-icon> &nbsp;
              <span class="req-value">0.5 K.M</span>
            </ion-col>
            <ion-col>
              <img src="assets/icons/date.png" width="15" alt="">
              <!--<ion-icon name="ios-baseball-outline" color="primary"></ion-icon> &nbsp;-->
              <span class="req-value">{{offer.expire_date | date:'MM-yy'}}</span>
            </ion-col>
            <ion-col>
              <img src="assets/icons/box-copy-2.png" width="15" alt="">
              <!--<ion-icon name="ios-baseball-outline" color="primary"></ion-icon> &nbsp;-->
              <span class="req-value">{{offer.quantity}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col hidden>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star-outline" color="primary"></ion-icon>
              <ion-icon name="star-outline" color="primary"></ion-icon>
              <ion-icon name="star-outline" color="primary"></ion-icon>
              <ion-icon name="star-outline" color="primary"></ion-icon>

            </ion-col>
            <ion-col>
              <img src="assets/icons/sale.png" width="15" alt="">
              <!--<ion-icon name="ios-baseball-outline" color="primary"></ion-icon> &nbsp;-->
              <span class="req-value">{{offer.discount}} %</span>
            </ion-col>
            <ion-col>
              <img src="assets/icons/price_icon_6.png" width="15" alt="">
              <!--<ion-icon name="ios-baseball-outline" color="primary"></ion-icon> &nbsp;-->&nbsp;<span class="req-value">{{offer.price}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
        <button type="button" class="card-options" *ngIf="offer.options" (click)="navigateToPage('AddrequestPage', offer)">
          <img src="assets/icons/check-request.png" width="60" alt="">
        </button>
      </ion-card>
</ion-content>
