<ion-menu [content]="content" swipeEnabled='false'>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
      <ion-buttons start>
        <!--<button ion-button clear menuToggle color="light">
          <ion-icon name="menu"></ion-icon>
        </button> -->
      </ion-buttons>
    </ion-toolbar>

  </ion-header>

  <ion-content>

    <div class="user-img">
      <img src="assets/img/cat.png" alt="cat image" width="40">
      <p class="email">{{userEmail||'drug.catcher@outlook.com'}}</p>
    </div>

    <ion-list class="side-menu">
      <ion-list-header hidden text-center color="primary">
          pharmacy code: 516489449
      </ion-list-header>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">

        <img *ngIf="p.icon" [src]="'assets/icons/'+p.icon" width="30" alt="">

        <ion-icon *ngIf="!p.icon" name="ios-home-outline" margin-left></ion-icon>

        <span>{{p.title}}</span>

        <ion-badge *ngIf="p.badge" item-right  class="rounded">53</ion-badge>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
