// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$primary:    color($colors, primary);
$secondary:    color($colors, secondary);
$danger:    color($colors, danger);
$light:    color($colors, light);
$dark:    color($colors, dark);
$appBG: repeating-linear-gradient(45deg, #f8f8f8, #f8f8f8 1px, transparent 1px, transparent 30px), radial-gradient(circle at center center, #fff, #f6f6f6);
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../assets/fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

ion-list-header {
 min-height: 10px !important;
  margin: 0;
  ion-header {
    margin-bottom: 0 !important;
  }
}
* {
  font-family: "Roboto-Regular", sans-serif;
}


.item-inner {
  border-bottom : none !important
}

.rounded {
  border-radius: 50%;
  width: 25px;
  height:25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-img {
  padding: 15px;
  text-align:center;
  p  {
    margin-top: 2px;
    color: #999;
    margin-bottom: 5px;
  }
}

button {
  border-radius: 0 !important;
}

