page-chooseaddorjoin {

  ion-header {
    &.header {
      &:after {
        //background-position: 0 -4px;
        content: '';
        background: none;
      }
      //box-shadow: none !important;
    }
    &.header-md {
      &:after {
        //background-position: 0 -4px;
        content: '';
        background: none;
      }
      //box-shadow: none !important;
    }
    ion-navbar {
      .toolbar-background-ios {
        border-color: rgba(0,0,0,0.06) !important;
      }
      .toolbar-md {
        border-color: rgba(0,0,0,0.06) !important;
      }

    }
  }
  ion-content {
    &.content {
      background-color: $light
    }
    button {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 2rem !important;
      box-shadow: none !important;
      padding: 22px !important;
      &:first-of-type {
        margin-bottom: 15px !important;
      }
    }
  }
}
