<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-buttons end>
      <button ion-button clear  (click)="backStep()">
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
</ion-header>

<ion-content padding>

  <form
    [formGroup] = 'signupForm'
    novalidate
    (ngSubmit)="submitSignUpUser()"
  >

    <div class="img">
      <img src="assets/img/cat-logo-2-02.png" alt="">
    </div>
    <section class="step1" *ngIf="pageNumber === 1">
      <div class="form-group select-country">
        <div class="input-ctrl">
          <ion-select   class="form-control" formControlName="country" >
              <ion-option value="EG">EGYPT</ion-option>
            <ion-option value="US">United States</ion-option>
            <ion-option value="TU">Turkey</ion-option>
            <ion-option value="FR">France</ion-option>
            <ion-option value="EN">ENGLAND</ion-option>
            </ion-select>

        </div>
        <div class="form-ctrl-icon">
          <ion-icon name="ios-arrow-down"></ion-icon>
        </div>


      </div>
      <br><br>
      <button type="button"  margin-top  block  ion-button (click)="this.pageNumber = 2">Next</button>

    </section>


    <section class="step2" *ngIf="pageNumber === 2">
      <div class="form-group">

        <div class="form-ctrl-icon">
          <img src="assets/icons/user.png" width="27" alt="">
          <!--<ion-icon name="ios-baseball-outline"></ion-icon>-->
        </div>

        <div class="input-ctrl">
          <input  placeholder="first name" class="form-control" formControlName="firstname" >
          <div class="validator">
            <ion-icon name="checkmark" [color]="signupForm.controls.firstname.valid?'primary':'lightDark'"></ion-icon>
          </div>
        </div>
      </div>

      <div class="form-group">

        <div class="form-ctrl-icon">
          <img src="assets/icons/user.png" width="27" alt="">
          <!--<ion-icon name="ios-baseball-outline"></ion-icon>-->
        </div>

        <div class="input-ctrl">
          <input placeholder="last name" class="form-control" formControlName="lastname" >
          <div class="validator">
            <ion-icon name="checkmark" [color]="signupForm.controls.lastname.valid?'primary':'lightDark'"></ion-icon>
          </div>
        </div>
      </div>

      <div class="form-group">

        <div class="form-ctrl-icon">
          <img src="assets/icons/phone.png" width="27" alt="">
          <!--<ion-icon name="ios-baseball-outline"></ion-icon>-->
        </div>

        <div class="input-ctrl">
          <input placeholder="mobile +20" class="form-control" formControlName="mobile" >
          <div class="validator">
            <ion-icon name="checkmark" [color]="signupForm.controls.mobile.valid?'primary':'lightDark'"></ion-icon>
          </div>
        </div>
      </div>


      <div class="form-group">

        <div class="form-ctrl-icon">
          <img src="assets/icons/mail.png" width="27" alt="">
          <!--<ion-icon name="ios-baseball-outline"></ion-icon>-->
        </div>

        <div class="input-ctrl">
          <input type="email" email placeholder="E-mail" class="form-control" formControlName="email" >
          <div class="validator">
            <ion-icon name="checkmark" [color]="signupForm.controls.email.valid?'primary':'lightDark'"></ion-icon>
          </div>
        </div>
      </div>

      <div class="form-group">

        <div class="form-ctrl-icon" >
          <img src="assets/icons/lock-password.png" width="27" alt="">
          <!--<ion-icon name="ios-baseball-outline"></ion-icon>-->
        </div>

        <div class="input-ctrl">
          <input type="password" placeholder="password" class="form-control" formControlName="password" >
          <div class="validator">
            <ion-icon name="checkmark" [color]="signupForm.controls.password.valid?'primary':'lightDark'"></ion-icon>
          </div>
        </div>
      </div>

      <div class="form-group">

        <div class="form-ctrl-icon" >
          <img src="assets/icons/lock-password.png" width="27" alt="">
          <!--<ion-icon name="ios-baseball-outline"></ion-icon>-->
        </div>

        <div class="input-ctrl">
          <input type="password" placeholder="confirm password" class="form-control" formControlName="InsurePassword" >
          <div class="validator">
            <ion-icon name="checkmark" [color]="signupForm.controls.InsurePassword.valid?'primary':'lightDark'"></ion-icon>
          </div>
        </div>
      </div>

      <div class="form-group agree-terms">

        <input type="checkbox" id="agreeTerms" formControlName="agreeTerms">
        <label for="agreeTerms"> Agree Terms and Conditions</label>

      </div>

      <button  margin-top type="submit" block  ion-button >
        Sign up &nbsp;&nbsp;
        <ion-spinner *ngIf="showLoader" name="crescent"></ion-spinner>
      </button>
    </section>
  </form>

</ion-content>
